# IDE
.idea/
.vscode/

# Kubernetes credentials
.kube/

# Compiled binaries
/auction
*.exe

# OS
.DS_Store

# Compiled binaries and executables
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (only needed if not using Go Modules or if vendoring)
# vendor/

# Build artifacts
bin/
obj/

# Local environment files
.env

